@model GreenhavenMgmt.Models.Person

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            First Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.firstName)
        </dd>
        <dt class = "col-sm-2">
            Last Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lastName)
        </dd>
        <dt class = "col-sm-2">
            Date of Birth
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.birthMonth) - @Html.DisplayFor(model => model.birthDay) - @Html.DisplayFor(model => model.birthYear)
        </dd>
        <dt class = "col-sm-2">
            Date of Death
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.deathMonth) - @Html.DisplayFor(model => model.deathDay) - @Html.DisplayFor(model => model.deathYear)
        </dd>
        <dt class = "col-sm-2">
            Plot #
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.plot_id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
