@model IEnumerable<GreenhavenMgmt.Models.Person>

@{
    ViewData["Title"] = "Index";
}

<h2>List of Buried Individuals at Greenhaven Cemetery</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Birthday
            </th>
            <th>
                Date of Death
            </th>
            <th>
                Plot Number
            </th>
            <th>
                Deceased's Age
            </th>
            <th>
                Timelapse of Burial
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.birthMonth)/@Html.DisplayFor(modelItem => item.birthDay)/@Html.DisplayFor(modelItem => item.birthYear) *@
                @{
                    DateTime birthDate = new DateTime(item.birthYear, item.birthMonth, item.birthDay);
                    @birthDate.ToString("MMMM dd, yyyy")
                }
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.deathMonth)/@Html.DisplayFor(modelItem => item.deathDay)/@Html.DisplayFor(modelItem => item.deathYear) *@
                @{
                    DateTime deathDate = new DateTime(item.deathYear, item.deathMonth, item.deathDay);
                    @deathDate.ToString("MMMM dd, yyyy")
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.plot_id)
            </td>
            <td>
                @{
                    var result = item.deathYear - item.birthYear;
                    @result
                }
            </td>
            <td>
                @{
                    DateTime currentTime = DateTime.Now;
                    var timeLapseresult = currentTime.Year - item.deathYear;
                    @timeLapseresult
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div id="burialChart"></div>

<script>
    @foreach (var item in Model)
    {
        var birthYearTwentyTwenty = 0;
        var birthYearTwentyTwentyTwo = 0;
        if(item.birthYear == 2020) {
            birthYearTwentyTwenty++;
        } else if (item.birthYear == 2022) {
            birthYearTwentyTwentyTwo++;
        }
    }
</script>